/releases
Sumo/logs/*.txt
Sumo/controllers/robot0Controller/robot0Controller.py
Sumo/controllers/robot1Controller/robot1Controller.py
Sumo/controllers/MainSupervisor/.vscode/.ropeproject/objectdb
Sumo/controllers/MainSupervisor/.vscode/.ropeproject/config.py
Sumo/controllers/robot0Controller/__pycache__/RobotRL.cpython-37.pyc
Sumo/controllers/robot1Controller/__pycache__/RobotRL.cpython-37.pyc
Sumo/Sumo.zip
Sumo/ejemplos/adiosmundo.py
Sumo/ejemplos/holamundo.py
Sumo/ejemplos/prueba.py
Sumo/equipos

__pycache__/
*.py[cod]
*$py.class
Sumo/ejemplos/microbot.json
Sumo/worlds/.sumov1.wbproj
